html,
body {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

 
 * {
   box-sizing: border-box;
  }
  .container{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin:auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 900px;
    position: relative;

  }
  .central{
    text-align: center;
  }
  .organized_images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    max-width: 450px;
    max-height: 450px;
    margin: auto;
  }
  .button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin: 0;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;

  }
  .row{
    display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  font-size: 16px;
  text-align: center;
  }
  .col Image{
    border-radius: 10px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-left: 10px;
    padding-right: 10px;
    gap: 60px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 20px;
  }
  
  .item1 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .item1 h4{
    font-size: 36px;

  }
  .item2 p{
    font-size: 16px;
  }
  .item2 .button{
    text-align: center;
  }
  
.form {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: cover;
  padding: 20px;
  width: 500px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
@media only screen and (max-width: 600px) {
  .container{
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;

  }
  .row{
    display: block;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    width: 200px;
    }
    .row .button{
      margin-bottom: 20px;
    }
    .grid-container{
      position: relative;
      width: auto;
      display: block;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0;
    }
    .item1{
      display: block;
    }
    .item2{
      align-items: flex-start;
    }
    .button{
      padding: 20 26;
      font-size: 12px;
      text-align: center;
    }
    .form {
      margin-top: 100px;
      margin-bottom: 100px;
      background-color: #15172b;
      border-radius: 20px;
      box-sizing: border-box;
      height: cover;
      padding: 20px;
      width: 350px;
    }
}